body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BCC2D0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #8B94AA;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:center;
}

header .logo img {
  max-height: 200px;
}

header h1 {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 500%;
  margin: 0;
}

.instructions {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.instructions h2 {
  margin-top: 0;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 400%;
  margin-bottom: 5px;
}
.instructions p{
  margin-top: 0;
  margin-left: 30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 110%;
  text-align: justify;
}

form {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-groupaud {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

input[type="text"], input[type="file"], textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

label{
  font-family: "Bebas Neue", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 150%;
}

textarea {
  resize: none;
}


.marker-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.marker-options input[type="radio"] {
  display: none;
}

.marker-options label {
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.marker-options label img {
  width: 85px;
  height: auto;
}

.marker-options input[type="radio"]:checked + label {
  transform: scale(1.1);
  border: 2px solid #8B94AA;
  border-radius: 4px;
}

#map {
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.leaflet-control-attribution {
  display: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#back-button {
  background-color: #BCC2D0; /* Fondo azul */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

#back-button:hover {
  background-color: #8B94AA; /* Azul más oscuro al pasar el mouse */
}

#save-button {
  background-color: #8B94AA; /* Fondo azul */
  color: white;
  border:none;
  padding: 10px 20px;
  border-radius: 10px;
}

#save-button:hover {
  background-color: #BCC2D0; /* Azul más oscuro al pasar el mouse */
}

input[type="text"], input[type="file"] {
  background-color: #BCC2D0; /* Fondo claro */
  border: 2px solid #BCC2D0; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de texto */
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Incluye bordes en el ancho total */
  height: 50px;
}

textarea {
  background-color: #BCC2D0; /* Fondo claro */
  border: 2px solid #BCC2D0; /* Borde igual al de input[type="text"] */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  font-size: 14px; /* Tamaño del texto */
  width: 100%; /* Ancho completo */
  height: 150px; /* Altura personalizada */
  box-sizing: border-box; /* Incluye bordes y padding en el ancho */
}

.grax{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

.grax p{
  text-align: justify;
}

#logob {
  max-height: 100px; /* Controla el tamaño */
  margin: 0; /* Elimina márgenes externos */
}

footer {
  display: flex; /* Usar flexbox para alinear elementos */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px; /* Espaciado interno */
}


/* Media Queries */
@media (max-width: 768px) {
  header h1 {
    font-size: 6vw;
  }

  .instructions h2 {
    font-size: 5vw;
  }

  .instructions p {
    font-size: 4vw;
  }

  form {
    padding: 15px;
  }

  .marker-options label img {
    width: 30vw; /* Más grande en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 7vw;
  }

  .instructions h2 {
    font-size: 6vw;
  }

  .instructions p {
    font-size: 4.5vw;
  }

  .form-buttons {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}