/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #8B94AA;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
}

header .logo img {
    max-height: 200px;
}

header h1 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    margin: 0;
}

/* Diseño de la galería */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Asegurar que las imágenes sean responsivas */
.image-entry img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-entry img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Adaptación a pantallas pequeñas */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}